/* 
    Created on : 13-Mar-2019, 8:28:54 AM
    Author     : Reaper
*/

body {
    background-color:black;
    color: white;
}
.wrapper div {

}

.buzzer {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
.buzzer.red {
    background-color: red;
}
.buzzer.green {
    background-color: #070;
}
